:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    font-size: 4.2rem;
    color: #4B0082;
    margin-bottom: 2rem;
    margin-top: 10rem;
}


/* h1>span {
    font-size: 2.4rem;
    font-weight: 500;
} */

h2 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

p {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 3rem;
    width: auto;
}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    max-height: 70rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.btn {
    background-color: #4B0082;
    color: white;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: .7rem 1rem;
    width: auto;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: .5rem;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

#finalScore {
    font-size: 5rem;
    color: #333;
}

.timer {
    color: black;
    float: right;
    text-align: right;
    align-content: right;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.highScore {
    color: #4B0082;
    float: left;
    text-align: left;
    align-content: left;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* FORMS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    margin-left: .3rem;
    width: 10rem;
    padding: .3rem;
    font-size: 1.8rem;
    border: 0.1rem solid #333;
}

input::placeholder {
    color: #aaa;
}